:root {
    --bg-color: #f0f5c6;
    --text-color: #000000;
    --primary-color: #D98324;
    --secondary-color: #EFDCAB;
    --accent-color: #443627;
    --card-bg: #e8e5a9;
    --header-border: #D98324;
    --footer-bg: #d6cc95;
    --footer-text: #462f01;
    --footer-link: #9d570c;
    --shadow-color: rgba(0, 0, 0, 0.1);
    --testimonial-bg: #F2F6D0;
    --hero-bg: #F2F6D0;
    --button-bg: #D98324;
    --button-text: #FFFFFF;
}

    
.dark-mode {
    --bg-color: #161412;
    --text-color: #FFF7D4;
    --primary-color: #C07F00;
    --secondary-color: #a28b41;
    --accent-color: #FFF7D4;
    --card-bg: #5d3f03;
    --header-border: #FFD95A;
    --footer-bg: #4C3D3D;
    --footer-text: #FFF7D4;
    --footer-link: #FFD95A;
    --shadow-color: rgba(0, 0, 0, 0.2);
}
