:root {
    --bg-color: #F8EEDF;
    --text-color: #210505;
    --primary-color: #8E1616;
    --secondary-color: #c43838e1;
    --accent-color: #000000;
    --card-bg: #f1a4a4;
    --header-border: #8E1616;
    --footer-bg: #530000df;
    --footer-text: #F8EEDF;
    --footer-link: #e8caca;
    --shadow-color: rgba(142, 22, 22, 0.1);
    --testimonial-bg: #F8EEDF;
    --hero-bg: #F8EEDF;
    --button-bg: #8E1616;
    --button-text: #FFFFFF;
}

    
.dark-mode {
    --bg-color: #000000;
    --text-color: #F8EEDF;
    --primary-color: #8E1616;
    --secondary-color: #cd6464aa;
    --accent-color: #F8EEDF;
    --card-bg: #a70b0b;
    --header-border: #E8C999;
    --footer-bg: #410b0b;
    --footer-text: #F8EEDF;
    --footer-link: #E8C999;
    --shadow-color: rgba(0, 0, 0, 0.2);
}