:root {
    /* Nova Paleta de Cores */
    --bg-color: #F1E7E7;       
    --text-color: #333333;       
    --primary-color: #E69DB8;   
    --secondary-color: #FFD0C7;  
    --accent-color: #FFFECE;    
    --card-bg: #FFFFFF;          
    --header-border: #E69DB8;    
    --footer-bg: #ebd0d0;       
    --footer-text: #7d0073c4;    
    --footer-link: #ca23ae;    
    --shadow-color: rgba(230, 157, 184, 0.2);  
    --testimonial-bg: #FFD0C7;    
    --hero-bg: #F1E7E7;        
    --button-bg: #E69DB8;      
    --button-text: #FFFFFF;     
}

    
.dark-mode {
    /* Tema Escuro com nova paleta */
    --bg-color: #000000;      
    --text-color: #FFD8D8;       
    --primary-color: #E99B9B;     
    --secondary-color: #4f003384;   
    --accent-color: #E99B9B;     
    --card-bg: #302939;           
    --header-border: #50595C;   
    --footer-bg: #170f14;        
    --footer-text: #FFD8D8;      
    --footer-link: #E99B9B;      
    --shadow-color: rgba(23, 23, 23, 0.3);  
    --testimonial-bg: #50595C;   
    --hero-bg: #ca65a3;           
    --hover-color:#ca65a3;
    --button-bg: #E99B9B;      
    --button-text: #302939;       
    --card-border: #50595C;      
}
